{
  "servers": {
    "b4-asuswrt": {
      "type": "http",
      "url": "http://localhost:7000/api/mcp",
      "headers": {
        "Authorization": "Bearer xxxxxxxxxxxxxxxxxxxxxxxxxx"
      }
    }
  }
}